<div class="hero-text-box">
	<h1>Ordering food</h1>
	<h3>Goodbye hunger sensation <br> Hello super tasty meals.</h3>
</div>
<%= render 'static_pages/home_partials/dropdowns' %>
<%= render 'static_pages/home_partials/gallery' %>
<%= render 'static_pages/home_partials/dashboard' %>
