<div class="modal fade modal-dashboard" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-dashboard">
		<div class="modal-content modal-content-dashboard">
			<div class="row justify-content-end">
				<button type="button" class="close close-dashboard" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<section class="dashboard">
				<div class="container-fluid">
					<div class="row">
						<table>
							<thead>
								<tr>
									<th>Position</th>
									<th>Product</th>
									<th>Count</th>
									<th>Price / 1 Product ($)</th>
									<th>Total / Product ($)</th>
									<th> </th>
								</tr>
							</thead>
							<tbody id="show-cart">

							</tbody>
						</table>
						<div class="table-footer">
							<button id="clear-cart">Clear Cart</button>
							<div class="total">Total Cart: $ <span id="total-cart"></span></div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
