<section class="dropdowns">
	<div class="container-fluid">
		<div class="row">
			<div class="dropdown" style="display: inline-block;">
				<button class="btn btn-light dropdown-toggle btn-assigment" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Category
				  </button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li><a class="dropdown-item" href="#">All products</a></li>
					<li><a class="dropdown-item" href="#">Entrees</a></li>
					<li><a class="dropdown-item" href="#">Second Courses</a></li>
					<li><a class="dropdown-item" href="#">Salads</a></li>
				</ul>
			</div>
			<div class="dropdown" style="display: inline-block;">
				<button class="btn btn-light dropdown-toggle btn-assigment" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Sorting
				  </button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li><a class="dropdown-item" href="#">Price</a></li>
					<li><a class="dropdown-item" href="#">Random</a></li>
				</div>
			</div>
			<div class="dropdown" style="display: inline-block;">
				<button class="btn btn-light dropdown-toggle btn-assigment" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Vegetarian
				  </button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li><a class="dropdown-item" href="#">All products</a></li>
					<li><a class="dropdown-item" href="#">Vegetarian products</a></li>
					<li><a class="dropdown-item" href="#">Non-Vegeterian products</a></li>
				</div>
			</div>
		</div>
	</div>
</section>
